*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

body{
  background-color: rgba(170, 170, 80, 0.2);
}

.navbar {
  background-color: #FFEBF3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
}
.navbar a {
  text-decoration: none;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.formulario {
  text-align: center;
}
input{
  margin: 5px 5px;
}
form{
  max-width: 500px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
}