*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

body{
  background-color: rgba(170, 170, 80, 0.2);
}

.navbar {
  background-color: #FFEBF3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
}
.navbar a {
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}
.formCompo{
  text-align: center;
}
.inputs{
  margin: 5px 5px;
}
.form{
  max-width: 500px;
  padding: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
  border: 1px solid black;
  background-color: gainsboro;
}
.buttons{
  margin: 0 10px;
  padding: 1px;
}

.table{
  border: 1px solid black;
  background-color: rgba(140, 170, 200, 0.1);
  margin: 5px;
}
.table tr, .table td {
  border: 1px solid black;
  padding: 2px;
  box-sizing: border-box;
  text-align: center;
}

.photo{
  height: 40px;
  width: 40px;
}

.inputsFilter {
  margin: 5px 7px;
}
label{
  font-weight: bold;
}